.foot{
  min-height: 30vh;
  background: linear-gradient(to top, #0c0116 40%,#05020c);
}
.footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding:  40px;
  border-bottom: 7px solid #080303;
  border-top: 9px solid #050303;
  .links{
    flex: 5;
    color: #f7f3f3;
  }
  .address{
    border-left: 2px dashed #ceaaaa;
    flex: 7;
    color: #f5eeee;
    padding-left: 10px;
  }
}
footer{
  color: #962e2e;
  text-align: center;
}