.main-hero{
  // background: url('../../assets/image/payment.svg'), linear-gradient(to left, #1d1922 40%,#0a021d);
  background:#030008c0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-blend-mode: overlay;
  height: 85vh;
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:0px 20px;
  #hero-business-name{
    color: #faf5f5;
    text-align: space-around;
    text-transform: uppercase;
    border-bottom: 10px dashed #ffffff;
   text-align:center;
   &:first-letter{
    text-shadow: 10px 10px #000000;
      color: #5e5e64;
      font-weight: 900;
      font-size: 13rem;
    }
  }
  #business-highlight{
    color: #ffffff;
    text-transform: capitalize;
    // font-family: "ROBOTO CONDENSED",sans-serif;
    line-height: 2;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bolder;
  }
  .how-it-works{
    display: flex;
    justify-content: center;
    .learn-more-btn{
      display: inline-block;
      font-size: 2rem;
      font-weight: bolder;
      &:hover{
        background: inherit;
        color:#070269;
        transition:0.5s ease-in-out;
      }
    }
  }
}
.my-btn{
  background: #4b4963;
  padding: 4px 10px;
  border-radius: 12px;
  text-transform: uppercase;
  color: #e7dfdc;
  font-size: 1.1rem;
}

#how-it-works{
  // height: 400px;
  background: #f7f6f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.work-wrapper{
  padding:120px !important;
  background: #ffffff;
  width: 600px;
  border-radius: 4px;
  
  h2{
    text-align: center;
    color: #000000;
  }
  p{
    padding: 0px 100px;
    color: #000000;
  }
  ul>li{

    font-size: 2rem;
    &:nth-child(1){
      color:#b41515;
    }
    &:nth-child(2){
      color:#e0dcdc;
    }
    &:nth-child(3){
      color:#ffd700;
    }
  }
}



