@media(max-width:620px){
  h1,h2,h3,h4,h4,h5,h6{
    font-size: 1.2rem !important;
  }
  .main-hero{

   min-height: 60vh;
    #hero-business-name{
     &:first-letter{
      text-shadow: 5px 5px #979290;
        font-size: 5rem;
      }
    }
    #business-highlight{
      font-size: 1.1rem;
    }
    .how-it-works{
      .learn-more-btn{
        font-size: 1.5rem;
      }
    }
  }
}

@media(max-width:420px){
  #logo::first-letter{
    font-size: 2rem;
    text-shadow: 3px 5px #979290;
  }
  h1,h2,h3,h4,h4,h5,h6{
    font-size: 1rem !important;
  }
  .main-hero{
    height: 70vh;
    #hero-business-name{
     &:first-letter{
      text-shadow: 2px 2px #979290;
        font-size: 3rem;
      }
    }
    #business-highlight{
      font-size: 1rem;
    }
    .how-it-works{
        font-size: 1.1rem;
    }
  }
  .my-btn{
    padding: 4px;  
  }
}

@media(max-width:320px){
  .footer{
    flex-direction: column;
    padding-left: 12px;
    .address{
      flex: 12;
      border-top: 1px solid #ceaaaa;
      border-left: 0px;
    }
    .links{
      flex: 12;
      text-align: left !important;
    }
  }
  h1,h2,h3,h4,h4,h5,h6{
    font-size: 1.1rem !important;
  }
  .main-hero{
    height: 50vh;
    #hero-business-name{
      font-size: 1.5rem !important;
     &:first-letter{
        font-size: 3rem;
      }
    }
  }
}