.navbar{
  background: linear-gradient(to top, #1d1922 40%,#0a021d) !important;
}

.nav-link{
  color:#ffffff !important;
  font-size : 1.5rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
