*{
  overflow-x: hidden;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
  text-decoration: none;
  &:hover{
    text-decoration: none !important;
  }
}


h1,h2,h3,h4{
  overflow: hidden;
}

.btn-bg{
  background-color: #070269 !important;
  color: #f6f5f8 !important;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  &:hover{
    color: #000000 !important;
    transition: 1s all;
  }
}

// body{
//   // padding-top: 99px !important;
// }



@import './navbar';
@import "./home";
@import './loader';
@import './modal';
@import './footer';
@import './media';



.register,.login,.forget-password{
  // background: 
  background:  url('../../assets/image/coding.png'),
   linear-gradient(to left, #dcdadf 40%,#f6f5f8);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:  15px !important;
}

