/* @import 'bootstrap/dist/bootstrap.min.css'; */
*{
  overflow-x: hidden;
  overflow-y: none;
  padding: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
  overflow-y: hidden;
}
body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 55px;
}

a:hover{
  text-decoration: none;
}


.navbar{
  background: #f8f6f5;
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
